﻿body {
    padding: 50px 15px 20px 15px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#tableUsers th {
    border-bottom: none;
}

footer {
    position: absolute;
    padding: 20px 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    border-top: 1px solid #cccccc;
    background-color: white;
}

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 60px;
    margin: 0;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0;
}

.users {
    border-right: 1px solid #cccccc;
    float: left;
    width: 20%;
    height: auto;
    max-height: 1024px;
    overflow: hidden;
    padding-bottom: 10000px;
}

.users table td, .users table th {
    text-align: center;
}

/* replace with single selector */
#tableUsers td:nth-child(1), #tableUsers td:nth-child(2) {
    padding-top: 12px;
}

.game {
    width:80%;
    float: right;
    padding: 15px;
    padding-top: 5px;
}

.game h2 {
    margin-top: 5px;
    position: relative;
}



.messageBox {
    height: 50px;
    border-bottom: 1px solid #cccccc;
    padding-top: 15px;
    padding-left: 10px;
}

.contact {
    position: absolute;
    left: 10px;
    height: 30px;
    font-size: 12px;
    padding-top: 4px;
    max-width: 450px;
}

#mcontact {
    display: inline-block;
    margin-right: 5px;
}

#mu {
    display: inline-block;
}

